.product-page-view-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 100px 0;

    .product-carousel {
        width: 60%;
        height: 60vh;

        .carousel-container {
            position: relative;
            width: 100%;
            height: 100%;
        }

        .carousel {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .carousel-slide {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                display: flex;
                justify-content: center;
                align-items: center;

                .carousel-image {
                    width: 70%;
                    height: auto;
                    object-fit: cover;
                }

                &.active {
                    opacity: 1;
                }
            }

            .carousel-prev,
            .carousel-next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                width: 40px;
                height: auto;

                &.carousel-prev {
                    left: 0;
                    margin-left: 30px;
                }

                &.carousel-next {
                    right: 0;
                    margin-right: 30px;
                }
            }
        }

        .carousel-paging {
            position: absolute;
            bottom: -1.5rem;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 80%;

            .carousel-page {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: none;
                outline: none;
                cursor: pointer;
                transition: transform 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }

                &.active {
                    transform: scale(1.2);
                    border: 1px solid #0000003c;
                }

                img {
                    width: 80%;
                    height: 80%;
                    object-fit: cover;
                }
            }
        }
    }

    .product-infos {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 50px;

        h1 {
            font-size: 52px;
            line-height: 62px;
            font-weight: 500;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 45px;
            line-height: 56px;
            font-weight: 500;
            letter-spacing: 2px;
            margin-bottom: 30px;
            color: #f97580;
        }

        p {
            font-size: 17px;
            line-height: 20px;
            font-weight: 400;
            letter-spacing: 1px;
            text-transform: capitalize;
            margin-bottom: 30px;
        }

        div {
            width: 50%;
            margin-bottom: 20px;
        }

        h3 {
            font-size: 20px;
            line-height: 26px;
            font-weight: 400;
            letter-spacing: 2px;
            color: #703c05;
        }
    }

}



.product-page-header {
    width: 100vw;
    height: 20vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: -1;

    .section-one {
        width: 100%;
        height: 65%;
        background-color: #d8ac90;
        padding-bottom: 50px;
    }

    .section-two {
        width: 100%;
        height: 35%;
        margin-top: -5px;

        img {
            width: 100%;
            height: auto;
            transform: rotate(180deg);
        }
    }
}

@media(max-width:1100px) {
    .product-page-view-container .product-infos div {
        width: 70%;
    }
}

@media(max-width:900px) {
    .product-page-view-container {
        flex-direction: column;

        .product-carousel,
        .product-infos {
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }
}

@media(max-width:800px) {
    .product-page-view-container .product-infos h1 {
        font-size: 42px;
    }
}

@media(max-width:500px) {

    .product-page-view-container .product-carousel .carousel .carousel-prev.carousel-prev,
    .product-page-view-container .product-carousel .carousel .carousel-next.carousel-prev {
        left: 0;
        margin-left: 10px;
    }

    .product-page-view-container .product-carousel .carousel .carousel-next.carousel-next,
    .product-page-view-container .product-carousel .carousel .carousel-next.carousel-next {
        right: 0;
        margin-right: 10px;
    }
}

@media(max-width:400px) {
    .product-page-view-container .product-infos h1 {
        font-size: 32px;
    }

    .product-page-view-container .product-infos h2 {
        font-size: 28px;
    }

    .product-page-view-container .product-infos p {
        font-size: 14px;
    }

    .product-page-view-container .product-infos h3 {
        font-size: 16px;
    }

    .product-page-view-container .product-carousel .carousel-paging .carousel-page {
        width: 80px;
        height: 80px;
    }

    .product-page-view-container .product-carousel .carousel .carousel-prev.carousel-prev,
    .product-page-view-container .product-carousel .carousel .carousel-next.carousel-prev {
        width: 20px;
    }

    .product-page-view-container .product-carousel .carousel .carousel-next.carousel-next,
    .product-page-view-container .product-carousel .carousel .carousel-next.carousel-next {
        width: 20px;
    }
}

@media(max-width:350px) {

    .product-page-view-container .product-infos div {
        width: 100%;
    }
}

@media(max-width:300px) {
    .product-page-view-container {
        width: 120vw;
    }

    .product-page-header {
        width: 120vw;
    }
}