.button-container {
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 2px;
    color: black;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out all;

    &:hover {
        background-color: white;
        color: black;
    }

    &.google-sign-in {
        background-color: #d4a373;
        color: white;

        &:hover {
            background-color: #000000;
        }
    }

    &.google-sign-up {
        background-color: #457b9d;
        color: white;

        &:hover {
            background-color: #5d9bc2;
        }
    }

    &.google {
        background-color: #e63946;
        color: white;

        &:hover {
            background-color: #f15e6a;
        }
    }

    &.inverted {
        background-color: #6a4c93;
        color: white;


        &:hover {
            background-color: black;
            color: white;
            border: none;
        }
    }

}