.button-container {
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 2px;
    color: black;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: white;
        color: black;
    }

    &.google-sign-in {
        background-color: #d4a373;
        color: white;

        &:hover {
            background-color: #000000;
        }
    }

    &.google-sign-up {
        background-color: #457b9d;
        color: white;

        &:hover {
            background-color: #5d9bc2;
        }
    }

    &.google {
        background-color: #e63946;
        color: white;

        &:hover {
            background-color: #f15e6a;
        }
    }

    &.add {
        background-color: #00b4d8;
        color: white;
        border-radius: 25px;

        &:hover {
            background-color: #00b4d8a0;
        }
    }

    &.add2 {
        background-color: #f72585;
        color: white;
        border-radius: 25px;

        &:hover {
            background-color: #f72584a0;
        }
    }

    &.inverted {
        background-color: #6a4c93;
        color: white;
        border-radius: 25px;


        &:hover {
            background-color: #8568ad;
            color: white;
            border: none;
        }
    }

}