.category-container {
    min-width: 30%;
    height: 500px;
    flex: 3 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 0 7.5px 15px;
    overflow: hidden;

    &:hover {
        cursor: pointer;

        & .background-image {
            transform: scale(1.1);
            transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }

        & .category-body-container {
            opacity: 0.9;
        }
    }

    &.large {
        height: 380px;
    }

    &:first-child {
        margin-right: 7.5px;
    }

    &:last-child {
        margin-left: 7.5px;
    }

    .background-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    .category-body-container {
        height: 150px;
        width: 150px;
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 50%;
        opacity: 0.7;
        position: absolute;

        h2 {
            font-weight: bold;
            margin: 0 6px 0;
            font-size: 22px;
            color: #4a4a4a;
        }

        p {
            font-weight: lighter;
            font-size: 16px;
        }
    }


    .category-body-infos {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(-60px);

        h2 {
            font-family: 'Oleo Script', cursive;
            text-transform: capitalize;
            font-size: 40px;
        }

        p {
            text-transform: capitalize;
            font-size: 20px;
            font-weight: 500;
            width: 50%;
        }


    }

    .category-body-btn {
        width: 150px;
        height: 50px;
        background-color: #ffffff;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        position: absolute;
        transform: translateY(120px);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s ease-in-out all;

        &:hover {
            background-color: #ff70a6;

            h1 {
                color: #ffffff;
            }
        }


        h1 {
            font-size: 16px;
            color: #ff70a6;
            transition: 0.2s ease-in-out all;

        }
    }
}