.payment-form-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25vh;
    margin-bottom: 10vh;

    h1 {
        font-size: 32px;
        line-height: 36px;
        text-transform: capitalize;
        font-weight: 700;
        color: #32c0c1;
        margin: 0;
    }

    .form-container {
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .button-container {
            width: 70%;
        }

        h2 {
            font-size: 32px;
            line-height: 36px;
            text-transform: capitalize;
            font-weight: 500;
            color: #fd7e99;
        }

        #ce {
            width: 500px;
        }
    }

    .payment-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        width: 50%;

        .payment-item-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border-bottom: 1px solid #e8e8e1;
            margin-bottom: 20px;

            .image-container {
                img {
                    width: 80px;
                    height: auto;
                }
            }
        }


    }
}


.payment-page-header {
    width: 100vw;
    height: 20vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: -1;

    .section-one {
        width: 100%;
        height: 65%;
        background-color: #d8ac90;
        padding-bottom: 50px;
    }

    .section-two {
        width: 100%;
        height: 35%;
        margin-top: -5px;

        img {
            width: 100%;
            height: auto;
            transform: rotate(180deg);
        }
    }
}

@media(max-width:900px) {
    .payment-form-container .payment-items {
        width: 60%;
    }
}

@media(max-width:700px) {
    .payment-form-container h1 {
        font-size: 26px;
    }

    .payment-form-container .form-container h2 {
        font-size: 26px;
    }

    .payment-form-container .payment-items {
        width: 70%;
    }
}

@media(max-width:600px) {
    .payment-form-container .form-container #ce {
        width: 450px;
    }

    .payment-form-container .payment-items {
        width: 80%;
    }
}

@media(max-width:500px) {
    .payment-form-container .form-container #ce {
        width: 400px;
    }

    .payment-form-container .payment-items {
        width: 90%;
    }
}

@media(max-width:400px) {
    .payment-form-container .form-container #ce {
        width: 350px;
    }

    .payment-form-container .payment-items {
        width: 95%;
    }
}

@media(max-width:360px) {
    .payment-form-container .form-container #ce {
        width: 300px;
    }
}

@media(max-width:300px) {
    .payment-page-header {
        width: 120vw;
    }

    .payment-form-container {
        width: 120vw;
    }
}