.payment-form-container {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .form-container {
        height: 200px;
        min-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        #ce {
            width: 500px;
        }
    }
}