.navigation {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 25px;
    font-family: 'Oleo Script', cursive;

    .logo-container {
        height: 100%;
        width: 70px;
    }

    .nav-links-container {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .nav-link {
            padding: 10px 15px;
            cursor: pointer;
            font-size: 22px;
            font-weight: 500;
            transition: 0.1s ease-in-out all;
            color: #f72585;

            &:hover {
                color: #ff70a6;
            }
        }
    }

    .nav-btn {
        cursor: pointer;
        font-size: 22px;
        font-weight: 500;
        width: 90px;
        height: 35px;
        border: none;
        border-radius: 20px;
        color: #f72585;

        text-align: center;
        padding-top: 5px;

        &:hover {
            color: #ff70a6;
        }




    }

    .nav-icons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}