.navigation {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 25px;
    padding: 10px 50px 0 50px;


    .logo-container {
        height: 100%;
        width: 70px;
        z-index: 100;

        .main-logo {
            width: 150%;
            height: auto;
        }
    }

    .nav-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;


        .ham-button {
            z-index: 10;
            height: 50px;
            margin-top: 15px;
            margin-left: 20px;
            display: none;

            div {
                width: 30px;
                height: 2px;
                background-color: #fff;
                margin: 8.5px 0;
                transition: 0.15s ease-in all;

            }


        }

        .ham-button--active {

            div:nth-of-type(1) {
                transform: rotate(45deg);
                transform-origin: top left;
            }

            div:nth-of-type(2) {
                opacity: 0;
            }

            div:nth-of-type(3) {
                transform: rotate(-45deg);
                transform-origin: bottom left;
            }

        }

        .nav-links-container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            z-index: 100;



            .social-icons {
                display: none;
                justify-content: center;
                align-items: center;
                margin-top: 100px;

                .icon {
                    width: 30px;
                    height: auto;
                    margin-left: 50px;
                    cursor: pointer;

                    &:first-child {
                        width: 38px;
                        height: auto;
                        margin-left: 0;
                    }

                    path {
                        fill: #fff;
                    }
                }
            }

            .nav-link {
                color: #fff;
                font-size: 26px;
                font-weight: 500;
                text-decoration: none;
                transition: color .3s ease;
                letter-spacing: .5px;
                margin-right: 35px;


                &:hover {
                    color: #000000;
                }
            }
        }


    }



}



@media(max-width:1000px) {
    .navigation .logo-container .main-logo {
        width: 150%;
        margin-top: 0px;
    }

    .navigation .nav-container .ham-button {
        display: block;
    }

    .navigation .nav-container .nav-links-container {
        height: 100vh;
        width: 100vw;
        padding-top: 20vh;
        z-index: 10;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #ff7795;
        transform: translateX(-100vw);
        transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);


        .social-icons {
            display: flex;
        }

        .nav-link {
            margin: 0;
            margin-bottom: 30px;
        }
    }

    .navigation .nav-container .nav-links-container.visible {
        transform: translateX(0);
    }


}

@media(max-width:400px) {
    .navigation {
        padding: 20px 15px 0 15px;
    }

    .navigation .nav-container .ham-button {
        margin-left: 10px;
    }
}