.sign-in-container {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 45vw;
    padding: 50px;
    margin: 25px;
    height: 80vh;

    h1 {
        margin: 10px 0;
        font-size: 32px;
        line-height: 36px;
        text-transform: capitalize;
        font-weight: 700;
        color: #32c0c1;
    }

    h2 {
        margin: 10px 0;
        font-size: 24px;
        line-height: 30px;
        text-transform: capitalize;
        font-weight: 500;
        color: #fd7e99;
    }

    .buttons-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}

@media(max-width:1000px) {
    .sign-in-container {
        width: 90vw;
    }
}


@media(max-width:400px) {
    .sign-in-container h1 {
        font-size: 26px;
    }

    .sign-in-container h2 {
        font-size: 20px;
    }
}

@media(max-width:280px) {
    .sign-in-container h1 {
        font-size: 22px;
    }

    .sign-in-container h2 {
        font-size: 16px;
    }
}