.sign-up-container {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 30%;
    margin: 50px;
    padding: 50px;
    height: 80vh;

    h1 {
        margin: 10px 0;
        font-size: 32px;
        line-height: 36px;
        text-transform: capitalize;
        font-weight: 700;
        color: #32c0c1;
    }

    h2 {
        margin: 10px 0;
        font-size: 24px;
        line-height: 30px;
        text-transform: capitalize;
        font-weight: 500;
        color: #fd7e99;
    }
}