.cart-icon-container {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .shopping-icon {
        width: 40px;
        height: auto;

        path {
            fill: #fff;
        }
    }

    .item-count {
        position: absolute;
        font-size: 16px;
        font-weight: 400;
        bottom: 7px;
        color: #fff;
    }
}