.cart-icon-container {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        .shopping-icon {
            path {
                fill: #000000;
            }
        }

        .item-count {
            color: #000000;
        }
    }

    .shopping-icon {
        width: 40px;
        height: auto;
        transition: 0.2s ease-in-out all;

        path {
            fill: #fff;
        }
    }

    .item-count {
        position: absolute;
        font-size: 16px;
        font-weight: 400;
        bottom: 7px;
        color: #fff;
        transition: 0.1s ease-in-out all;
    }
}