.candys-category-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

    .candys-category-container-preview {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        row-gap: 60px;
    }
}


.candy-category-header {
    width: 100vw;
    height: 20vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: -1;

    .section-one {
        width: 100%;
        height: 65%;
        background-color: #d8ac90;
        padding-bottom: 50px;
    }

    .section-two {
        width: 100%;
        height: 35%;
        margin-top: -5px;

        img {
            width: 100%;
            height: auto;
            transform: rotate(180deg);
        }
    }
}


@media(max-width:1200px) {
    .candys-category-container .candys-category-container-preview {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:900px) {
    .candys-category-container .candys-category-container-preview {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:500px) {
    .candys-category-container .candys-category-container-preview {
        grid-template-columns: repeat(1, 1fr);
    }
}