.top-melted {
    width: 100%;
    height: 20%;
    transform: translateY(10px);

    img {
        width: 100%;
        height: auto;
    }
}

.footer-container {
    width: 100vw;
    height: 35vh;
    background: #703c05;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 30px;
    z-index: -1;



    .footer-info {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .footer-menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .footer-title {
                font-size: 25px;
                line-height: 30px;
                text-transform: uppercase;
                color: #fff;
                font-weight: 400;
                margin-bottom: 25px;
            }

            .footer-link {
                text-decoration: none;
                margin-bottom: 10px;

                &:hover h2 {
                    color: #000000;
                }
            }

            h2 {
                font-size: 20px;
                line-height: 24px;
                text-transform: uppercase;
                color: #fff;
                font-weight: 300;
                transition: 0.2s ease-in all;
            }

            .social-media {
                display: flex;
                justify-content: center;
                align-items: center;

                .icon {
                    width: 30px;
                    height: auto;
                    margin-left: 20px;
                    cursor: pointer;

                    &:first-child {
                        width: 38px;
                        height: auto;
                    }

                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }

    .line {
        width: 90%;
        height: 1px;
        background: #fff;
    }

    .footer-about {
        width: 90%;
        padding-top: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        h1 {
            font-size: 20px;
            line-height: 24px;
            text-transform: capitalize;
            color: #fff;
            font-weight: 300;
        }
    }
}


@media(max-width:800px) {
    .footer-container .footer-info .footer-menu h2 {
        font-size: 14px;
    }

    .footer-container .footer-info .footer-menu .footer-title {
        font-size: 16px;
    }

    .footer-container .footer-about h1 {
        font-size: 12px;
    }

    .footer-container .footer-info .footer-menu .social-media .icon {
        width: 25px;
    }

    .top-melted {
        transform: translateY(10px);
    }
}

@media (max-width: 705px) {
    .top-melted {
        transform: translateY(7px);
    }
}

@media (max-width: 686px) {
    .top-melted {
        transform: translateY(8px);
    }
}


@media(max-width:600px) {
    .footer-container .footer-info .footer-menu h2 {
        font-size: 12px;
    }

    .footer-container .footer-info .footer-menu .footer-title {
        font-size: 14px;
    }

    .footer-container .footer-about h1 {
        font-size: 10px;
    }

    .footer-container .footer-info .footer-menu .social-media .icon {
        width: 20px;
    }
}

@media(max-width:600px) {
    .footer-container .footer-info {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }
}

@media(max-width:300px) {
    .footer-container {
        width: 120vw;
    }

    .top-melted {
        width: 120vw;
    }

    .footer-container .footer-info .footer-menu h2 {
        font-size: 10px;
    }

    .footer-container .footer-info .footer-menu .footer-title {
        font-size: 12px;
    }

    .footer-container .footer-about h1 {
        font-size: 8px;
    }

    .footer-container .footer-info .footer-menu .social-media .icon {
        width: 15px;
    }
}