.slider-container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    transform: translateY(-80px);

    .slide {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: opacity 0.8s ease-in-out;

        .slide-content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            h1 {
                color: #fff;
                text-align: center;
                font-size: 60px;
                line-height: 1.2;
                margin: 0;
                text-transform: uppercase;
                font-weight: 500;
                margin-bottom: 30px;
                margin-top: 80px;
            }

            img {
                width: 60%;
                height: auto;
                margin-top: 30px;
            }
        }

        &.active {
            opacity: 1;
            z-index: 1;
        }
    }

    .arrow-left {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        width: 50px;
        height: auto;
        left: 50px;
        cursor: pointer;

        path {
            fill: #fff;
        }

    }

    .arrow-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        width: 50px;
        height: auto;
        right: 50px;
        cursor: pointer;

        path {
            fill: #fff;
        }

    }
}

@media(max-width:1200px) {
    .slider-container {
        height: 100vh;
    }
}

@media(max-width:900px) {
    .slider-container .arrow-right {
        right: 10px;
    }

    .slider-container .arrow-left {
        left: 10px;
    }
}

@media(max-width:800px) {
    .slider-container .arrow-left {
        width: 40px;
    }

    .slider-container .arrow-right {
        width: 40px;
    }

    .slider-container .slide .slide-content h1 {
        font-size: 40px;
    }

}

@media(max-width:700px) {
    .slider-container .slide .slide-content img {}
}

@media(max-width:600px) {
    .slider-container .arrow-left {
        width: 35px;
        left: 10px;
    }

    .slider-container .arrow-right {
        width: 35px;
        right: 10px;
    }

    .slider-container .slide .slide-content h1 {
        font-size: 30px;
    }

    .slider-container .slide .slide-content img {}
}

@media (max-width: 550px) {
    .slider-container {
        height: 85vh;
    }
}

@media(max-width:500px) {
    .slider-container .slide .slide-content img {}
}

@media(max-width:400px) {
    .slider-container .slide .slide-content img {}

    .slider-container {
        height: 75vh;
    }

}

@media(max-width:350px) {
    .slider-container .arrow-left {
        width: 30px;
        left: 10px;
    }

    .slider-container .arrow-right {
        width: 30px;
        right: 10px;
    }

    .slider-container .slide .slide-content h1 {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .slider-container .slide .slide-content img {}
}

@media(max-width:300px) {
    .slider-container {
        width: 120%;
    }
}